<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace指向对应的接口类，全称-->
<mapper namespace="cn.gson.linyun.model.mapper.workflow.AlinkeyMapper">

    <resultMap id="base" type="Alinkey">
        <id property="alinkeyId" column="alinkey_id"/>
        <result property="alinkeyName" column="alinkey_name"/>
    </resultMap>

<!--  根据编号查询类别自连表  -->
    <select id="SelectByid" resultMap="base">
        select * from alinkey where alinkey.`alinkey_father`=#{id}
    </select>

    <!--根据名称查询 selectAlinkeyByName-->
    <select id="selectAlinkeyByName" resultMap="base" parameterType="java.lang.String">
        select alinkey_id,alinkey_name from alinkey where alinkey_name=#{name}
    </select>

    <resultMap id="selectAlinkeyByIdMap" type="Alinkey">
        <id column="alinkey_id" property="alinkeyId" />
        <result column="alinkey_name" property="alinkeyName" />
    </resultMap>
    <!--根据类型查询子类 selectByAlinkeyId alinkeyId-->
    <select id="selectByAlinkeyId" resultMap="selectAlinkeyByIdMap" parameterType="java.lang.Integer">
        select ay.alinkey_id,ay.alinkey_name from alinkey ak
         LEFT JOIN alinkey ay on ak.alinkey_id=ay.alinkey_father where  ak.alinkey_id=#{alinkeyId}
    </select>

</mapper>
