<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.linyun.model.mapper.system.ISystemDepartmentMapper">
    <resultMap id="SystemDepartmentMap" type="cn.gson.linyun.model.pojos.system.SystemDepartment">
        <id column="department_id" property="departmentId"/>
        <id column="department_name" property="departmentName"/>
    </resultMap>
    <!--部门查询-->
    <select id="selDepartment" resultMap="SystemDepartmentMap">
        select * from system_department where 1=1
        <if test="departmentName!=null and departmentName!=''">
            and department_name='${departmentName}'
        </if>
    </select>
    <!--部门新增-->
    <insert id="addDepartment">
        insert into system_department(department_name) values (#{departmentName})
    </insert>
    <!--部门删除-->
    <delete id="delDepartment">
        delete from system_department where department_id=#{departmentId}
    </delete>
    <!--修改部门-->
    <update id="changeDepartment">
        update system_department set department_name=#{departmentName} where department_id=#{departmentId}
    </update>
</mapper>