<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.linyun.model.mapper.clockingin.IClockinginPunchMapper">
    <sql id="punchSql">
        cp.punch_id,cp.punch_card,ak.alinkey_id,ak.alinkey_name
    </sql>
    <!--<select id="selectAll" resultType="">

    </select>-->

    <!--新增打卡记录-->
    <insert id="insertPunch" parameterType="cn.gson.linyun.model.pojos.clockingin.ClockinginPunch">
        insert  into clockingin_punch(punch_id,punch_card) values (null ,#{punchCard})
    </insert>

    <resultMap id="punchOneMap" type="cn.gson.linyun.model.pojos.clockingin.ClockinginPunch">
        <id column="punch_id" property="punchId" />
        <result column="punch_card" property="punchCard" />
        <association property="alinkeyByAlinkeyId" javaType="cn.gson.linyun.model.pojos.clockingin.Alinkey">
            <id column="alinkey_id" property="alinkeyId" />
            <result column="alinkey_name" property="alinkeyName" />
        </association>
    </resultMap>
    <!--查看打卡为什么状态 是否已打完卡 selectPunchByEmpId-->
    <select id="selectPunchByEmpId" resultMap="punchOneMap" parameterType="java.lang.Integer">
        select
          <include refid="punchSql"/>
        from  clockingin_punch cp LEFT JOIN alinkey ak on cp.alinkey_id=ak.alinkey_id
        LEFT JOIN archives_emp ae on cp.emp_id=ae.emp_id where ae.emp_id=#{empId}
        and to_days(cp.punch_card)=to_days(now())
        ORDER BY cp.punch_card ASC
    </select>

</mapper>